body {
    background-color: black;
    margin: 0px;
    padding: 5px;
}

#main-heading {
    font-family: monospace;
    position: fixed;
    background-color: cadetblue;
}

#main-heading-text {
    font-size: 15%;
}